header{
	position:relative;
	top:5vh;
	text-align:center;
}
header .row > div {padding:0;}
header p {
	line-height:2.8rem;	font-weight:normal;margin:0;color: #efefef;padding:0;
	background: #222222;
}
.codehilite{
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow-x: auto;
	padding: 5px 10px;
	word-wrap: normal;
}
blockquote {
	border-left: .5rem solid #ccc;
	color: #707070;
	margin-left: 19px;
	padding: 10px 20px;
	background-color: #f5f5f5;
	font-family: monospace;
	font-size:1.25rem;
}
.row { margin-right:0;}
#logo{
	height: 50vh;
	max-height: 72vw;
	margin-top: 20vh;
	position: absolute;
	right: calc(13% + 7vw);
	width: auto;
}
footer .btn.btn-fab i{
	top: 0;
	left:-.1rem;
}
footer p{
	margin:0;
}
.btn a {
	color:#ffffff;
}
#side-nav ul ul {
	margin-left:1.5rem;
}
#side-nav ul ul li{
	border:none;
	padding:.1rem;
	margin:.2rem;
}
#fork{
    position:absolute;
    top:0;
    right:0;
}
@media all and (max-width: 1137px) {/*side-nav begins to breakdown*/
	#side-nav{min-width:80px;}
	#side-nav li{width: 5rem;min-width:inherit;margin:auto;text-align:center;}
	#side-nav li a span{display:none;}
	#side-nav li a i{font-size:2.5rem;}

    #side-nav #documentation ul{
        margin:0 0 -100% 0;padding:0;
    }
    #side-nav #documentation ul span {
        display: inline-block;
    }
    #side-nav ul ul li {
        border: medium none;
        left: -6.5rem;
        margin-bottom: 0.2rem;
        margin-right: 0.2rem;
        margin-top: 0.2rem;
        padding: 0.1rem;
        position: relative;
    }

}
@media all and (max-width: 768px) {
	#logo{
		margin-top: 2vh;
		right:calc(13% + 15vw);
	}
	section:first-child, section:first-child h1{
		font-size:150%;
	}
	#side-nav li{width: 5rem;min-width:inherit;}
	#side-nav li a span{display:none;}
	#side-nav li a i{font-size:2.5rem;}
    #side-nav #documentation ul i { display: none; }
    #side-nav ul ul li {
        left:-4.5rem;
        font-size:2rem!important;
    }
}
@media all and (max-width: 500px) {
	#logo{
		right: 13%;
	}
	section:first-child{
		font-size:inherit;
	}
	section:first-child h1{
		font-size: 2.5rem;
		font-weight: bold;
	}
	section:first-child p{
		font-size:2rem;
	}

    #side-nav ul ul li {
        font-size:1rem!important;
        left:-2.5rem;
        text-align:left;
    }
}