<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Registry</h1>
			<h2>Overview</h2>
			<p>Registry is a place to store data for the duration of each request. This should be sparingly, but is available
			for those that need it. The config files are read into the registry. The registry can be accessed anywhere.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>