<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Themes</h1>
			<h2>Overview</h2>
			<p>Themes are the top-most layout for Nomad views. Since NomadPhp is design primarily for web-development, a
			theme provides a convenient way to add common sections to each page. You can add javascript within the head
			tag and the before the closing body tag. You can also include css files, and define blocks to display in the
			theme's layout file. A theme can also be changed during the execution of the request, providing flexibility
			to the web-developer.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>