<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Sessions</h1>
			<p>Work in progress.</p>
		</div>
	</div>
</div>