<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Validators</h1>
			<h2>Overview</h2>
			<p>Validators provide a clean way to validate data. They will always return true or false for pass and fail,
			 respectively. NomadPhp provides several common validators such as LessThan, Digit, etc. You may also create
			your own validator to use across your project and with your forms.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>