<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Models</h1>
			<h2>Overview</h2>
			<p>Models are the basic building block in which you work in NomadPhp. Each model can use Nomad Annotations to
			describe property validation; e.g. int, string, and/or basic permissions such as read-only and write-only.</p>
			<p>Work in progress.</p>
		</div>
	</div>
</div>