<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Filters</h1>
			<h2>Overview</h2>
			<p>Filters are a convenient way to process data to a specified standard. Filters in NomadPhp are integrated
			with NomadPhp forms, but can also be used independently.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>