<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Access Control</h1>
			<h2 id="overview">Overview</h2>
			<p>NomadPhp utilizes an role-based access control approach whereby each user is given an application defined role.
			Each role is placed in a tree hierarchy and inherits authorization rules below itself. Authentication
			rules are then assigned to each role which is checked whenever needed for proper access.</p>
			<p>In NomadPhp, there are multiple ways to check for authorization: a direct check function, utilizing
			the @Nomad\Acl annotation.</p>

			<hr>Work in progress.
		</div>
	</div>
</div>
