<?php
/**
 * Block example
 * Specifying a block in the theme.yml file will apply this block to all pages using this theme.
 */
?>
<?php if ($this->download) {?>

<?php } ?>
<div id="disclaimer" class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<p>Not affiliated with, licensed or endorsed by E.I.C.C., Inc. or any of its sites. &copy;2012-<?=date('Y')?>. All Rights reserved.</p>
		</div>
	</div>
</div>
