<?php
/**
 * Block example.
 * Blocks are sections of code which can be used to simplify creating layouts. Blocks can be nested too.
 */
?>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<p><?= $this->slogan?></p>
		</div>
	</div>
</div>
