<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Database</h1>
			<h2>Overview</h2>
			<p>Using a database is straight forward and simple in NomadPhp. NomadPhp currently is setup for use with MySQL;
			however, any custom database driver can written and used. NomadPhp can map directly to an object with the same
			property names as column names in a table.  Sometimes a more complex mapping scheme is requires and NomadPhp
			provides a mapping abstract. Properties which are objects that require another database call are lazy loaded
			and therefore only created when accessed.</p>

			<hr>Work in progress.
		</div>
	</div>
</div>