<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Cache</h1>
			<h2>Overview</h2>
			<p>In NomadPhp, anything can be cached. Caching defaults to a file-based cached but can be switched to use
			memcache. Entire pages, page blocks, database calls and more can all be cached. This can increase performance,
			especially when caching complex database calls or complex views.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>