<!doctype html>
<html class='no-js'>
<head>
	<?php echo $this->renderTitle("NomadPhp"); ?>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<?= $this->renderCss();?>
	<?= $this->renderHeadScripts();?>
</head>
<body>
<header><?= $this->header?></header>
<?= $this->content?>
<footer><?= $this->footer?></footer>
<?= $this->renderBodyScripts();?>
</body>
</html>
