<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Static Helpers</h1>
			<h2>Overview</h2>
            <p>NomadPhp recognizes there are some tasks that are needed more commonly. Things such as converting dates,
            flattening arrays, sting manipulation. These static helper functions are present for the developer to use
            whenever needed.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>