<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Overview</h1>

			<p>The NomadPhp's main goal is to provide a very quick and easy way for coders to design and develop a site.
			   NomadPhp
			   is written in PHP with MySQL, jQuery, and other helper libraries to ensure the HTML5 works in older
			   browsers.
			   The Nomad Project utilizes a blend of Hierarchical model-view-controller and
			   Presentation-abstraction-control
			   architectural patterns. It is divided into interconnected parts which can significantly speed up
			   development time.</p>

			<p>This is designed to be a full-featured framework which includes:</p>
			<ul>
				<li><strong>Routing</strong> - Both simple and dynamic are handled.</li>
				<li><strong>Annotations</strong> - Use annotations to simplify tasks like dependency injection, acl
												 checks, change
												 layouts, and more.
				</li>
				<li><strong>Registry</strong> - Use a registry for things.</li>
				<li><strong>Sessions</strong> - A simple and elegant way to interact with php sessions.</li>
				<li><strong>Caching</strong> - Cache whole pages, partials (blocks) and database queries</li>
				<li><strong>Forms</strong> - Create forms with validation and filtering with many predefined element
										   types (or
										   define your own). Use
										   form success and failure handlers to simplify form processing. Plus auto-csrf
										   (disable-able).
				</li>
				<li><strong>View Rendering</strong> - Anything can become 'Viewable' and placed within the specified
													layout and/or
													theme.
				</li>
				<li><strong>Themes</strong> - Create themes easily by defining some placeholders, css, and js</li>
				<li><strong>Database</strong> - Easily make calls to a database (only mySQL at this time, but you can
											  add your own
											  driver to use whatever).
				</li>
				<li><strong>Models</strong> - Populate models easily from a database. Complete with property filtering
											via
											annotations.
				</li>
				<li><strong>Email</strong> - Send html emails easily by setting up a theme and a view.</li>
				<li><strong>Access Control</strong> - Define roles and oder them in a tree. Then allow annotations to
													determine
													access.
				</li>
				<li><strong>Fine Grain Access Control</strong> - Define custom functions to check before allowing
															   access.
				</li>
				<li><strong>XCss</strong> - Php within css files simplify asset url creation, allow variables for things
										  such as
										  color. Complete with
										  helper functions to shade and rotate colors. These files are interpreted and
										  then placed
										  in the public folder. Note:
										  Interpretation only occurs on DEVELOPMENT environments.
				</li>
				<li><strong>Static Helpers</strong> - Array methods such as flatten, String methods such as makePath,
													Date methods
													such as MySQL formatting.
				</li>
				<li><strong>Validators</strong> - Many common validators such as digit, email address, no html, and
												more.
				</li>
				<li><strong>Filters</strong> - Many common filters such as restricted html, safe string trim, and more.
				</li>
			</ul>
			<p>This project does incorporate other packages: RatchetPhp for web sockets, html purifier, kint
			   debugger.</p>
		</div>
	</div>
</div>