<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Documentation</h1>
			<p>Work in progress.</p>
			<p>The NomadPhp's main goal is to provide a very quick and easy way for coders to design and develop a site.
			   NomadPhp is written in PHP with MySQL, jQuery, and other helper libraries to ensure the HTML5 works in older
			   browsers. The Nomad Project utilizes a blend of Hierarchical model-view-controller and
			   Presentation-abstraction-control
			   architectural patterns. It is divided into interconnected parts which can significantly speed up
			   development time.</p>

		</div>
	</div>
</div>