<section id="1">
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-6">
				<h1>NomadPhp Framework</h1>
				<p><?= $this->slogan ?></p>
			</div>
			<div class="col-sm-6">
				<img id="logo" src="/assets/images/nomadphp.svg" alt="NomadPhp logo"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div>
					<?php echo $this->useHelper("Application\\Block\\Navigation::primary");?>
				</div>

			</div>

		</div>
        <div id="fork">
            <a href="https://bitbucket.org/mhillebert/nomadphp/fork"><img src="/assets/images/bitbucket-ribbon-dark-blue.png"</a>
        </div>
	</div>
</section>
<section id="2">
	<div class="container-fluid">
		<div class="row  row-eq-height">
			<div id="side-nav" class="col-xs-2 col-sm-2 equal">
				<a href="/"><img src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
				<?php
				echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true));
				?>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2>Installing via git and composer</h2>
				<p>Make sure you have git and composer installed on your web server.</p>
				<p>Create your site root directory, then enter it:</p>
				<blockquote>
					mkdir nomadphp<br>
					cd nomadphp
				</blockquote>
				<p>Issue the git clone command to download the skeleton directories and setup files:<br>
				<small class="alert-danger">Do not forget the trailing dot which tells git to install into your current directory</small></p>
				<blockquote>
					git clone https://bitbucket.org/mhillebert/nomadphp-standard .
				</blockquote>
				<p>Finally, install the project's dependencies with composer:</p>
				<blockquote>
					composer install
				</blockquote>
				<h3>That's it</h3>
				<p>You should be able to access your project's site at this time. It will be the framework's static
				   website NomadPhp.net. The documentation at this time is a work in progress and you most likely will
				   need to dive into the source code. But, no worries, this is what learning code is all about. So, play
				   around, extend classes and break it, then make it better and push it back for integration! </p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2>Manual Download and installation with composer</h2>
				<ol>
					<li><p>Download the nomadphp-standard .zip file <a class='btn btn-primary' href="https://bitbucket.org/mhillebert/nomadphp-standard/get/905262e33504.zip">
							<i class="glyphicon glyphicon-download"></i> Download
						</a></p></li>
					<li><p>Unpack to your projects root.</p></li>
					<li><p>Update the project to get all its dependencies<br>
						<small class="alert-notice">These dependencies cannot be included in a single download</small><p>
						<blockquote>
							composer update
						</blockquote>
					</li>
				</ol>

			</div>
		</div>
	</div>
</section>