<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Views</h1>
			<h2>Overview</h2>
			<p>NomadPhp views are render-able containers. Each view can have its own layout where its own content get passed.
			Viewable Controllers each have their own view based on its class name within the views directory.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>