<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>XCss</h1>
			<h2>Overview</h2>
			<p>NomadPhp provides a way to use php into a css file. This isn't as bad as it sounds. The php file is parsed,
			then copied to the webroot as a standard css file. Granted LESS/SASS are much better and probably should be used,
			this was a proof-of-concept addition. All-in-all, it is useful when you need the flexibility of LESS/SASS but
			don't want to fuss with setting it up. There are some neat features like: color rotation, lighten, darken; but
				primarily used to define some global hex colors and allows the ability to change them easily across
			all your css.</p>
			<p>Note: The use of XCss is completely optional and you can still use standard php files.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>