<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Forms</h1>
			<h2>Overview</h2>
			<p>Forms are pretty straight forward and flexible. NomadPhp forms are design with html in mind and therefore
			provides standard html form elements such as text, textarea, radio, select lists, and more. Each element is
			given a unique name and can be assigned validators and filters. You may also assign attributes to your
			elements.</p>
			<p>NomadPhp begins to take-on an event driven design with form handlers. You assign one or multiple success
			and failure handlers to your forms that are run under when the form succeeds or fails, respectively. This
			helps keep the form handling logic contained and outside of the controller.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>