<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Annotations</h1>
			<h2>Overview</h2>
			<p>Annotations are simple and straight forward. NomadPhp uses reflection to read the annotation; however, only
			when necessary. This provides the flexibility of annotations without the overhead of reflecting every class.
			Annotations in NomadPhp are all prefixed `@Nomad\` followed by the annotation; e.g. Layout, Acl, or Type, etc.
			There are over 20 predefined annotations ranging from property types to event dispatching to dependency injection.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>