<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Emails</h1>
			<h2>Overview</h2>
			<p>Communication with your users shouldn't be plain text. NomadPhp provides an easy method for creating html
			emails. It's really as simple as using controllers and views; NomadPhp will do the rest.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>