<div class="container-fluid">
	<div class="row row-eq-height">
		<div id="side-nav" class="col-xs-2 equal">
			<a href="/"><img class="smaller" src="/assets/images/nomadphp.svg" alt="NomadPhp Logo"/></a>
			<?php
			echo $this->useHelper("Application\\Block\\Navigation::primary", array('side-navigation'=>true, 'append' => true));
			?>
		</div>
		<div class="col-xs-12">
			<h1>Routing</h1>
			<h2>Overview</h2>
			<p>Routing in NomadPhp is a matter of matching the first pattern defined in any routes.yml file. Matched routes
			are then constructed and passed to the dispatcher for dispatching to the controller.</p>
			<hr>Work in progress.
		</div>
	</div>
</div>